<!DOCTYPE html>
<html>
    <head>
        <title>Productos</title>
        <link rel="stylesheet" href="/bootstrap.min.css">
        <link rel="stylesheet" href="/init.css?v=1.1">
    </head>
    <body>
   

      <div  x-data="createDataProduct()">
      <div  class="loading" x-show="isLoading">     <span class="loader"></span></div>
      <div class="container">

      <h1>Actualizar producto</h1>
      <div x-show="openAlert" class="alert alert-success mt-4" role="alert" x-text="alertMessage"></div>
      <form x-init="isLoading=false" action="" method="post"> 
             <div class="mb-3">
            <label for="sku" class="form-label">Sku</label>
            <input type="text" class="form-control" id="sku" placeholder="Sku.." name="sku" x-model="sku">
            </div>
            <div class="mb-3">
            <label for="productName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="sku" placeholder="Nombre.." name="product_name" x-model="productName">
            </div>
            <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea class="form-control" name="description" id="description" rows="3" x-model="description"></textarea>
            </div>
            <button type="button"  x-on:click="updateProduct(sku,description,productName)" class="btn btn-success">Guardar</button>
            <button type="button"  x-on:click="location.href='/'" class="btn btn-secondary">Volver</button>

      </form>
       
      </div>
      </div>
<script>
        function createDataProduct() {

                return {
                    isLoading: true,
                    openAlert: false,
                    alertMessage: 'Entregado',
                    sku: '{{ product.sku }}',
                    productName: '{{ product.productName }}',
                    description: '{{ product.description }}',
                    async getToken(){
                        return  new Promise((resolve, reject) =>
                        {
                            
                            fetch('/api/login_check', {
                            method: 'POST',
                            headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({"username":"aaxis","password":"aaxis_test"})
                            })
                            .then((response) => response.json())
                            .then((json) =>
                            {
                                sessionStorage.setItem("token-aaxis",json.token)
                                resolve(json.token);
                            });
                        });

                    },
                    async updateProduct(sku,description,productName)
                    {   
                        if(sku ==""){
                            alert("Sku no puede estar vacío");
                            return false;
                        }
                        if(description ==""){
                            alert("Descripción no puede estar vacío");
                            return false;
                        }
                        if(productName ==""){
                            alert("Nombre no puede estar vacío");
                            return false;
                        }
                        var self=this;
                        this.alertMessage="Actualizacion exitosa"
                        this.isLoading=true;
                        if(sessionStorage.getItem("token-aaxis")){
                             var token= sessionStorage.getItem("token-aaxis");
                        }else{
                               var token = await this.getToken().then(ret_val => {
                                     return ret_val
                                });
                        }
                        return  await new Promise((resolve, reject) =>
                        {
                            
                            fetch('/api/products', {
                            method: 'PATCH',
                            headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer '+ token
                            },
                            body: JSON.stringify([{product_name: productName, sku: sku,description: description}])
                            })
                            .then((response) => response.json())
                            .then((json) =>
                            {
                                this.openAlert=true;
                                setTimeout(() => this.openAlert=false, 3000)
                                this.isLoading=false;
                                resolve(json);
                            });
                        });
                                    }
                        }
                }

</script>
               <script  src="/alpine.min.js"></script>

    </body>
</html>